<div class="dialog-header">
  <h3 matDialogTitle>{{title}}</h3>
  <button class="close-button" mat-icon-button tabindex="-1" matDialogClose>
    <mat-icon>clear</mat-icon>
  </button>
</div>

<mat-dialog-content class="dialogue-content">
  <form [formGroup]="registerForm">
    <div class="details-container">
      <div class="formdiv">
        <div class="form-field">
          <label class="label-top">Vehicle number : <span class="requredsymbol">*</span></label>
          <mat-form-field floatLabel="never">
            <input matInput class="fontSetter" floatLabel="never" [formControl]="registerForm.controls['name']"
              [(ngModel)]="UserData.name" required>
            <mat-error *ngIf="f.name.invalid">{{getErrorMessage('name')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="label-top">Vehicle type : <span class="requredsymbol">*</span></label>
          <mat-form-field floatLabel="never">
            <mat-select matInput class="fontSetter" floatLabel="never"
              [formControl]="registerForm.controls['type']" [(ngModel)]="UserData.type" required>
              <mat-option [value]="'Trailler'">Trailler</mat-option>
              <mat-option [value]="'Fork lift'">Fork lift</mat-option>
              <mat-option [value]="'10 Ton pickup'">10 Ton pickup</mat-option>
              <mat-option [value]="'3 ton hiab'">3 ton hiab</mat-option>
              <mat-option [value]="'3 ton p/c mur'">3 ton p/c mur</mat-option>
              <mat-option [value]="'sand trailer'">sand trailer</mat-option>
            </mat-select>
            <mat-error *ngIf="f.type.invalid">{{getErrorMessage('type')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="label-top">Driver : <span class="requredsymbol">*</span></label>
          <mat-form-field floatLabel="never">
            <input type="text" placeholder="Driver name" floatLabel="never" aria-label="Number" matInput [formControl]="registerForm.controls['driver']"  [(ngModel)]="UserData.driver"
              [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.driver.invalid">{{getErrorMessage('driver')}}</mat-error>
          </mat-form-field>
        </div>
        
      </div>
      <div class="formdiv left-brdr">
        <div class="form-field">
          <label class="label-top">Internal expectation per litre : <span class="requredsymbol">*</span></label>
          <mat-form-field floatLabel="never">
            <input matInput class="fontSetter" floatLabel="never" [formControl]="registerForm.controls['internal']"
              [(ngModel)]="UserData.internal" required>
            <mat-error *ngIf="f.internal.invalid">{{getErrorMessage('internal')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="label-top">External expectation per litre : <span class="requredsymbol">*</span></label>
          <mat-form-field floatLabel="never">
            <input matInput class="fontSetter" floatLabel="never" [formControl]="registerForm.controls['external']"
              [(ngModel)]="UserData.external" required>
            <mat-error *ngIf="f.external.invalid">{{getErrorMessage('external')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="btn-div">
    <button mat-button class="btn-accent" (click)="clickOk()">
      Save
    </button>
    <button mat-button matDialogClose class="btn-prime">
      Cancel
    </button>
  </div>
</mat-dialog-actions>